cgcatctgga
ataaggaagt
gccattccgc
ctgacctttt
acactttatg
cttccggctc
gtataatgtg
tggaattgtg
agcggataac
aatttcacac
aggaaacagc
tatgaccatg
attacggatt
cactggccgt
cgttttacaa
cgtcgtgact
gggaaaaccc
tggcgttacc
caacttaatc
gccttgcagc
acatccccct
ttcgccagct
ggcgtaatag
cgaagaggcc
cgcaccgatc
gcccttccca
acagttgcgc
agcctgaatg
gcgaatggcg
ttaacagata
aaaaaaatcc
ttagctttcg
ctaaggatga
tttctctagg
ctaggtggag
gctcagtgat
gataagtctg
cgatggtgga
tgcatgtgtc
atggtcatag
ctgtttcctg
tgtgaaattg
ttatccgctc
agagggcaca
atcctattcc
gcgctatccg
acaatctcca
agacattagg
tggagttcag
ttcggcgtat
ggcatatgtc
gctggaaaga
acatgtgagc
aaaaggccag
caaaaggcca
ggaaccgtaa
aaaggccgcg
ttgctggcgt
ttttccatag
gctccgcccc
cctgacgagc
atcacaaaaa
tcgacgctca
agtcagaggt
ggcgaaaccc
gacaggacta
taaagatacc
aggcgtttcc
ccctggaagc
tccctcgtgc
gctctcctgt
tccgaccctg
ccgcttaccg
gatacctgtc
cgcctttctc
ccttcgggaa
gcgtggcgct
ttctcatagc
tcacgctgta
ggtatctcag
ttcggtgtag
gtcgttcgct
ccaagctggg
ctgtgtgcac
gaaccccccg
ttcagcccga
ccgctgcgcc
ttatccggta
actatcgtct
tgagtccaac
ccggtaagac
acgacttatc
gccactggca
gcagccactg
gtaacaggat
tagcagagcg
aggtatgtag
gcggtgctac
agagttcttg
aagtggtggc
ctaactacgg
ctacactaga
agaacagtat
ttggtatctg
cgctctgctg
aagccagtta
ccttcggaaa
aagagttggt
agctcttgat
ccggcaaaca
aaccaccgct
ggtagcggtg
gtttttttgt
ttgcaagcag
cagattacgc
gcagaaaaaa
aggatctcaa
gaagatcctt
tgatcttttc
tacggggtct
gacgctctat
tcaacaaagc
cgccgtcccg
tcaagtcagc
gtaaatgggt
agggggcttc
aaatcgtcct
cgtgatacca
attcggagcc
tgcttttttg
tacaaacttg
ttgataatgg
caattcaagg
atcttcacct
agatcctttt
aaattaaaaa
tgaagtttta
aatcaatcta
aagtatatat
gagtaaactt
ggtctgacag
ttaccaatgc
ttaatcagtg
aggcacctat
ctcagcgatc
tgtctatttc
gttcatccat
agttgcctga
ctccccgtcg
tgtagataac
tacgatacgg
gagggcttac
catctggccc
cagtgctgca
atgataccgc
gagagccacg
ctcaccggct
ccagatttat
cagcaataaa
ccagccagcc
ggaagggccg
agcgcagaag
tggtcctgca
actttatccg
cctccatcca
gtctattaat
tgttgccggg
aagctagagt
aagtagttcg
ccagttaata
gtttgcgcaa
cgttgttgcc
attgctacag
gcatcgtggt
gtcacgctcg
tcgtttggta
tggcttcatt
cagctccggt
tcccaacgat
caaggcgagt
tacatgatcc
cccatgttgt
gcaaaaaagc
ggttagctcc
ttcggtcctc
cgatcgttgt
cagaagtaag
ttggccgcag
tgttatcact
catggttatg
gcagcactgc
ataattctct
tactgtcatg
ccatccgtaa
gatgcttttc
tgtgactggt
gagtactcaa
ccaagtcatt
ctgagaatag
tgtatgcggc
gaccgagttg
ctcttgcccg
gcgtcaatac
gggataatac
cgcgccacat
agcagaactt
taaaagtgct
catcattgga
aaacgttctt
cggggcgaaa
actctcaagg
atcttaccgc
tgttgagatc
cagttcgatg
taacccactc
gtgcacccaa
ctgatcttca
gcatctttta
ctttcaccag
cgtttctggg
tgagcaaaaa
caggaaggca
aaatgccgca
aaaaagggaa
taagggcgac
acggaaatgt
tgaatactca
tactcttcct
ttttcaatat
tattgaagca
tttatcaggg
ttattgtctc
atgagcggat
acatatttga
atgtatttag
aaaaataaac
aaataggggt
tccgcgcaca
tttccccgaa
aagtgccaga
tacctgaaac
aaaacccatc
gtacggccaa
ggaagtctcc
aataactgtg
atccaccaca
agcgccaggg
ttttcccagt
cacgacgttg
taaaacgacg
gccagtcatg
cataatccgc
a
